hello_cargo/target/*
guessing_game/target/*
variables/target/*
functions/target/*
branches/target/*
loops/target/*
rectangles/target/*
enums/target/*
restaurant/target/*
adder/target/*
add/target/*
minigrep/target/*
minigre_clo_iter/target/*
custom_crate/target/*

**/.DS_Store