projects/hello_cargo/target/*
projects/guessing_game/target/*
projects/variables/target/*
projects/functions/target/*
projects/branches/target/*
projects/loops/target/*
projects/rectangles/target/*
projects/enums/target/*
projects/restaurant/target/*
projects/adder/target/*
projects/add/target/*
projects/minigrep/target/*
projects/minigrep_clo_iter/target/*
projects/custom_crate/target/*
projects/cons_list/target/*
projects/smart_pointers/target/*

**/.DS_Store